body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  font-weight: 600;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  font-weight: 500;
}

li {
  float: right;
  padding: 30px;
  font-weight: 100;
}

a:link {color:#0070BB; text-decoration: none;}
a:visited {color:#0070BA; }
a:hover {color:#0070BC; }
a:active {color:#0070BD; }

figcaption {
  font-size: 0.85em;
}

h1 {
  font-size: 2.75em;
}

h3 {
  font-size: 1.25em;
}

article {
  padding-top: 100px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 50%;
}
